<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UniHealth</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static '/style.css' %}">


  <style media="screen">
    a:link {
      text-decoration: none;
    }
    a {
      color: white;
    }

    a:hover {
      color: white;
    }
    p {
      text-align: center;

    }

    main {
      position: relative;
      height: 100vh;
    }
    .collapse p{
      color: white;
      padding-right: 100px;
      bottom: 0%;
    }
  </style>

</head>

<body>
  <main>

    <!-- nav start -->
    <div class="bs-example">
      <nav class="navbar navbar-expand-md  navbar-dark fixed-top" style="background:green;">
        <a href="/admin-dashboard" class="navbar-brand">UniHealth</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav" style=" margin-left: 40%;">
            <p>Admin pannel</p>

            <a href="/admin-dashboard" class="nav-item nav-link">Dashboard</a>
            <a href="/admin-doctor" class="nav-item nav-link">Doctor</a>
            <a href="/admin-patient" class="nav-item nav-link">Student</a>
            <a href="/admin-appointment" class="nav-item nav-link">Appointments</a>
            <a href="/logout" class="nav-item nav-link">Logout</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- nav end -->
    <br><br>

    <!-- content start-->
    {% block content %}

    {% endblock content %}
    <!-- content end-->

  </main>


</body>

{% include "hospital/admin_doctor_patient_card.html" %}

</html>
